@import "tailwindcss";
.color{
    color: red;
}

@media print {
    body.printing-ticket .ticket-card {
        max-width: 100% !important;
        margin: 0 auto !important;
        box-shadow: none !important;
        break-inside: avoid;
    }
}